:root {
  --bg-color: #171923;
  --bg-light: #232535;
  --font-color: #c5cddb;
  --font-light: #ffffff;
}

.lightMode {
  --bg-color: #e8e6dc;
  --bg-light: #dcdaca;
  --font-color: #3d3d3d;
  --font-light: #202020;
}
