@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'League Spartan';
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: var(--bg-secondary);

  color: var(--font-color-main);
}

h1 {
  color: var(--font-color);
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.8125rem;
  text-align: center;
  letter-spacing: -0.0333rem;
  padding-bottom: 6px;
}

#calculator {
  background-color: var(--bg-color);
  padding: 1.875rem 1.5rem 1.9375rem;
  max-width: 23.4375rem;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin-left: 0.4375rem;
  margin-bottom: 10.73px;
}

header .container-right {
  display: flex;
  align-items: center;
}

header .container-right h3 {
  margin-right: 1.625rem;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.6875rem;
  text-align: center;
  letter-spacing: 0.0625rem;
}

header #tri-state-slider-handle {
  background-color: var(--slider-handle);
}

header #tri-state-mode-display {
  display: flex;
  justify-content: space-between;

  margin: 0 0.6563rem 0.3125rem;
}

header #tri-state-mode-display:hover {
  cursor: pointer;
}

header #tri-state-mode-display span {
  padding: 0;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 0.6875rem;
}

#display {
  height: 2.2em;
  border-radius: 0.625rem;
  background-color: var(--bg-secondary);
  text-align: right;
  padding: 0.725em 0.6em 0.55em;
  font-size: 40px;
  line-height: 0.925em;
  text-align: right;
  letter-spacing: -0.01668px;
}

#keypad {
  background-color: var(--bg-secondary);
  margin-top: 1.5rem;
  border-radius: 0.625rem;
  /* height: 23.25rem; */
}

#keypad .container {
  padding: 1.5rem;
}

#keypad .keypad-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 13px;
}

#keypad .keypad-row:last-child {
  margin-bottom: 0;
}

#keypad .key {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  width: 3.75rem;
  border-radius: 0.3125rem;
  height: 4rem;
}

#keypad .key:hover {
  cursor: pointer;
}

#keypad .key-std {
  color: var(--key-color-main);
  background-color: var(--key-bg-main);
  font-size: 2rem;
  line-height: 0.90625em;
  letter-spacing: -0.01665em;
  padding: 0.40625em 0.3125em;
  box-shadow: inset 0rem -0.25rem 0rem var(--key-bg-main-shadow);
}

#keypad .key-std:active {
  background-color: #fffffe;
}

#keypad .key-delete {
  color: var(--key-color-secondary);
  background-color: var(--key-bg-secondary);
  font-size: 1.25rem;
  letter-spacing: -0.01666665em;
  line-height: 0.9em;
  box-shadow: inset 0px -4px 0px var(--key-bg-secondary-shadow);
}

#keypad .key-long {
  width: 8.3125rem;
  font-size: 1.25rem;
  line-height: 1.125rem;
  letter-spacing: -0.0208rem;
}

#keypad .key-long.key-long-reset {
  color: var(--key-color-secondary);
  background-color: var(--key-bg-secondary);
  box-shadow: inset 0px -4px 0px var(--key-bg-secondary-shadow);
}

#keypad .key-long.key-long-equals {
  color: var(--key-color-secondary);
  background-color: var(--key-bg-tertiary);
  box-shadow: inset 0px -4px 0px var(--key-bg-tertiary-shadow);
}
