@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'League Spartan';
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--font-color-main);
}

h1 {
  color: var(--font-color);
}
