/* root is default dark mode */
:root {
  --bg-color: #3a4663;
  --bg-secondary: #232535;
  --font-color-main: #ffffff;
  --font-secondary: #ffffff;

  --slider-handle: #d03f2f;

  --key-bg-main: #eae3dc;
}

.lightMode {
  --bg-color: #e8e6dc;
  --bg-secondary: #dcdaca;
  --font-color-main: #3d3d3d;
  --font-secondary: #202020;

  --slider-handle: #d03f2f;

  --key-bg-main: #eae3dc;
}

.darkAccent {
  --bg-color: #e8e6dc;
  --bg-secondary: #dcdaca;
  --font-color-main: #3d3d3d;
  --font-secondary: #202020;

  --slider-handle: #d03f2f;

  --key-bg-main: #eae3dc;
}
